.modal_hidden {
  transform: translateY(200%);

  transition: transform var(--trans-time) var(--trans-func);
}

.modal {
  composes: modal_hidden;

  transform: translateY(0);

  border-radius: 40px 40px 0px 0px;
  background-color: var(--Base---1, #c64444);

  box-shadow: 0px 4px 24px 0px rgba(255, 255, 255, 0.15) inset;

  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;

  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  margin-top: auto;

  overflow-y: auto;

  position: relative;
}

.modal::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  width: 24px;
  height: 4px;

  border-radius: 2px;
  background-color: var(--base-3, #a93535);
}

.container {
  padding: 0;
}
@media screen and (min-width: 375px) {
  .container {
    padding: 0 calc((100% - 375px) / 2 + 24px);
  }
}

.title {
  color: var(--white, #fff);
  text-align: center;
  text-transform: uppercase;

  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.4;
  letter-spacing: 1.6px;

  margin-bottom: 16px;
}

.text {
  color: var(--body, #a1a1a1);
  text-align: center;

  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;

  margin-bottom: 24px;
}

.text > a {
  color: var(--white, #fff);
}

.btn_ok {
  composes: btn-main from global;

  width: 100%;
  height: 64px;

  font-size: 14px;
  letter-spacing: 1.12px;
}
