:root {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;

  scroll-behavior: smooth;

  text-rendering: optimizeSpeed;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--body, #a1a1a1);
  background-color: var(--base-2, #cb5050);

  /* нужно чтобы когда fixed при открытом меню или профиле держать ширину контейнера */
  left: 0;
  right: 0;

  height: 100vh;

  margin: 0;

  /* Скрываем scrollbar для IE, Edge и Firefox */
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: 0; /* Firefox */
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
body::-webkit-scrollbar {
  display: none;
}

button,
input {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px; /* прячу ползунок горизонт скролл-бара */
}
::-webkit-scrollbar-track {
  background: transparent; /* цвет фона у дорожки */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset; /* тень у дорожки */
}
::-webkit-scrollbar-thumb {
  background: var(--no-active); /* цвет фона у дорожки */
  border-radius: 12px; /* скругление углов */
  border: none; /* толщина, стиль и цвет рамки */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--active); /* ползунок меняет цвет при наведении */
}
